.contactanos-h1{
  text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
/* inicio de formulario en contacto.html*/
.caja_formulario2 {
    background-color: white;
    align-items: center;
    width: 70%;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: 28px;
    margin: auto;
    margin-bottom: 2rem;
  }
  .contactanos {
    text-align: center;
    margin-top: 2rem;
  }
  /* fin de formulario en contacto.html*/
  .comollegar {
    text-align: center;
  }