/* inicio de videos.html*/
.galeria-h1{
  text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.caja-galeria-videos{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
  }
  /* fin de videos.html */