/* inicio de vivo.html */
.transmision-en-directo{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .transmision-h1{
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
  .contenedor-off-on img{
    width: 60%;
  }
  /* fin de vivo.html */